body {
	background-color: rgb(235, 235, 235);
}

.profil-user img {
	display: block;
}

.profil-user span {
	display: block;
}

.informasi-keterangan {
	line-height: 0.9;
}

.jumbotron {
	padding: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	box-shadow: 0px -1px 1px rgb(214, 211, 211) !important;
}

.footer p {
	padding-top: 10px;
}

@media only screen and (max-width: 600px) {
	.profil-user img {
		display: none;
	}

	.profil-user span {
		display: none;
	}
}
